div.background{
    height: 90%;
    width: 100%;
    background-image: url(" ");
    
  }
  div.header{
    padding: 1%;
    position:absolute;
    top:0;
    left:0;
    width: 10%;
    height: 100%;
    background-color: #ffc0cb;
    
  }
  h1{
    font-size: 50px;
    color:rgb(3, 3, 48);
    text-align: center;
    height: 10%;
    width: 100%;
    padding: .5% .5%;
  }
  h2{
    font-family: "Times New Roman",Times, serif;
    font-size: 35px;
    color: rgb(17, 5, 15);
    text-align: center;
  }
  
  
  p{
    text-align: center;
    padding: 3% 3%;
    text-justify: auto;
    color: rgb(2, 2, 22);
    font-weight:bold;
  }
  img{
    height:90%;
    width:15%;
    border-radius: 10%;
  }
  a{
    font-size: 20px;
  }
  main{
    float:right;
  }
  div.about{
    text-align: center;
  }
  .menu{
    text-align: center;
  }
  .menu a{
    text-decoration: none;
    margin-left: 100px;
    color: black;
    
  }
  .menu a:hover{
    background-color: rgb(226, 141, 198);
  }
  div.contact{
    text-align: center;
  }
  img{
    height: 30%;
    width: 15%;
    margin: 3%;
    border-style: solid;
    border: #ffc0cb;
    border-width: 100%;
    float: left;
    
  }
  div.menu{
    background-color: blanchedalmond ;
    
  }
  .img a{
    padding: 10%  55%;
    height: 30%;
    width: 15%;
    border-style: solid;
    border: #ffc0cb;
    border-width: 100%;
  }
  div.image{
    width: 80%;
    height: 78%;
    float: right;
  }
  div.image1{
    width: 55%;
    height: 78%;
    float: right;
  }
  div.footer{
    height: 20%;
    width: 100%;
    background-color: rgb(226, 141, 198);
    float: right;
  }
  div.content{
    background-color: rgb(248, 116, 204);
    position: absolute;
    top: 50%;
    right: 40%;
  }
